In [ ]:
# Q1- Write a code to create a string with your name and print it.
# Answer (Q1):-
name='Paras Jain'
print(name)

Paras Jain

In [ ]:
# Q2- Write a code to find the length of the string "Hello World".
# Answer (Q2):-
len('Hello World')

11

In [ ]:
# Q3- Write a code to slice the first 3 characters from the string "Python Programming".
# Answer (Q3):-
a="Python Programming"
print(a[0:3])

Pyt

In [ ]:
# Q4- Write a code to convert the string "hello" to uppercase.
# Answer(Q4):-
text="hello"
text.upper()

'HELLO'

In [ ]:
# Q5- Write a code to replace the word "apple" with "orange" in the string "I like apple".
# Answer (Q5):-
text= 'I like apple'
text= text.replace('apple','orange')
print(text)

I like orange

In [ ]:
# Q6- Write a code to create a list with numbers 1 to 5 and print it.
# Answer (Q6):-
list1 = list(range(1,6,))
print(list1)

[1, 2, 3, 4, 5]

In [ ]:
# Q7- Write a code to append the number 10 to the list [1, 2, 3, 4].
# Answer (Q7):-
list2= list(range(1,5))
list2.append(10)
print(list2)

[1, 2, 3, 4, 10]

In [ ]:
# Q8- Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
# Answer (Q8):-
list3 = list(range(1,6))
list3.remove(3)
print(list3)

[1, 2, 4, 5]

In [ ]:
# Q9- Write a code to access the second element in the list ['a', 'b', 'c', 'd'].
# Answer (Q9):-
list4 = ['a','b','c','d']
print(list4[1])

b

In [ ]:
# Q10- Write a code to reverse the list [10, 20, 30, 40, 50].
# Answer (Q10):-
list5 =list(range(50,0,-10))
print (list5)

[50, 40, 30, 20, 10]

In [ ]:
# Q11- Write a code to create a tuple with the elements 100, 200, 300 and print it.
# Answer (Q11):-
tuple1 = tuple(range(100,400,100))
print (tuple1)

(100, 200, 300)

In [ ]:
# Q12- Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
# Answer (Q12):-
tuple2 = ("red","green","Blue","yellow")
print (tuple2[1::])

('green', 'Blue', 'yellow')

In [ ]:
# Q13- Write a code to find the minimum number in the tuple (10, 20, 5, 15).
# Answer (Q13):-
tuple3 =(10,20,5,15)
print (min(tuple3))

5

In [ ]:
# Q14- Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
# Answer (Q14):-
tuple4 = ("dog","cat","rabbit")
print (tuple4.index("cat"))

1

In [ ]:
# Q15- Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
# Answer (Q15):-
tuple5 = ("apple", "Banana","kiwi")
if "kiwi" in  tuple5:
  print("Kiwi is there")
else:
  print ("Kiwi is not there")

Kiwi is there

In [ ]:
# Q16- Write a code to create a set with the elements 'a', 'b', 'c' and print it.
# Answer (Q16):-
set1={'a','b','c'}
print(set1)

{'a', 'b', 'c'}

In [ ]:
# Q17- Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
# Answer (Q17):-
set2 = set(range(1,6))
set2.clear()
print (set2)

set()

In [ ]:
# Q18- Write a code to remove the element 4 from the set {1, 2, 3, 4}.
# Answer (Q18):-
set3 = {1,2,3,4}
set3.remove(4)
print (set3)

{1, 2, 3}

In [ ]:
# Q19- Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
# Answer (Q19):-
Set1= {"Apple","Banana","Orange"}
Set2= {"Pineapple","Grapes", "Orange"}
Set1|Set2

{'Apple', 'Banana', 'Grapes', 'Orange', 'Pineapple'}

In [ ]:
# Q20- Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
# Answer (Q20):-
Set1= {"Apple","Banana","Orange"}
Set2= {"Pineapple","Grapes", "Orange"}
Set1&Set2

{'Orange'}

In [ ]:
# Q21- Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
# Answer (Q21):-
dict1 ={"Name":"Paras Jain","Age":28,"City":"Delhi"}
print (dict1)

{'Name': 'Paras Jain', 'Age': 28, 'City': 'Delhi'}

In [ ]:
# Q22- Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
# Answer (Q22):-
dict2= {"Name":"Jhon","Age":25}
dict2.update({"Country":"USA"})
print (dict2)

{'Name': 'Jhon', 'Age': 25, 'Country': 'USA'}

In [ ]:
# Q23- Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
# Answer (Q23):-
dict3 = {'name': 'Alice', 'age': 30}
dict3.get('name')

'Alice'

In [ ]:
# Q24- Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
# Answer (Q24):-
dict4 = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del dict4['age']
print(dict4)

{'name': 'Bob', 'city': 'New York'}

In [ ]:
# Q25- Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
# Answer (Q25):-
dict5 = {'name': 'Alice', 'city': 'Paris'}
"city" in dict5

True

In [ ]:
# Q26- Write a code to create a list, a tuple, and a dictionary, and print them all.
# Answer (Q26):-
list6 = list(range(0,10,))
tuple6 = tuple(range(0,10,))
dict6 = {'name': 'Alice', 'city': 'Paris'}
print(list6)
print(tuple6)
print(dict6)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)
{'name': 'Alice', 'city': 'Paris'}

In [ ]:
# Q27- Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.
# Answer (Q27):-
list7 = [1,5,78,98,2]
list7.sort()
print(list7)

[1, 2, 5, 78, 98]

In [ ]:
# Q28- Write a code to create a list with strings and print the element at the third index.
# Answer (Q28):-
list8 = ["Paras","Jain","Apple","Banana","Orange"]
print(list8[3])

Banana

In [ ]:
# Q29- Write a code to combine two dictionaries into one and print the result.
# Answer (Q29):-
dict7 = {"Name":"Paras Jain","Age":29}
dict8 = {"State":"Delhi","County":"India"}
dict7.update(dict8)
print(dict7)

{'Name': 'Paras Jain', 'Age': 29, 'State': 'Delhi', 'County': 'India'}

In [ ]:
# Q30- Write a code to convert a list of strings into a set.
# Answer (Q30):-
list9 = ["Paras","Jain","Apple","Banana","Orange"]
set4= set(list9)
type(set4)

set